# Python
__pycache__/
*.pyc

# Django
db.sqlite3
.env

# Virtual environment
venv/
env/

# VS Code
.vscode/

# Byte-compiled
*.pyo

# Logs
*.log

# Node modules (if added later)
node_modules/

# System
.DS_Store
